body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font - family: "Roboto",
    sans - serif;
}

.clear - fix {
        overflow: auto;
    }

    .education - entry,
    .work - entry,
    .project - entry {
        padding: 0 5 % ;
    }

h1 {
    font - size: 40 px;
    color: #F7B733;
    line - height: 48 px;
    display: inline;
}

h2 {
    font - weight: bold;
    font - size: 24 px;
    color: #F7B733;
    line - height: 29 px;
    padding: 10 px;
}

h3 {
    font - style: italic;
    font - size: 20 px;
    color: #F7B733;
    line - height: 22 px;
}

h4 {
    font - weight: bold;
    font - size: 14 px;
    color: #F7B733;
    line - height: 17 px;
}

h2,
h3,
h4,
h5 {
    padding: 10 px 5 % ;

}


.date - text {
    font - style: italic;
    font - size: 14 px;
    color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: # 999;
    line - height: 16 px;
    float: right;

}

p {
    font - size: 14 px;
    color: #333;
  line-height: 21px;
}

a {
  color: # F7B733;
    text - decoration: none;
    margin - top: 10 px;
    display: block;
}

.welcome - message {
    font - style: italic;
    font - size: 18 px;
    color: #F7B733;
    line - height: 28 px;
}

#
skills - h3 {
        color: #F7B733;
        display: none;
    }

    .orange {
        background - color: #f5ae23;
    }

    .orange - text {
        color: #f5ae23;
    }

    .white - text {
        font - weight: bold;
        color: #fff;
    }

    .gray {
        background - color: #f3f3f3;
        padding - bottom: 10 px;
        clear: both;
    }

    .dark - gray {
        background - color: #4a4a4a;
}

/* TODO: Replace with image later */
# header {
                background - color: #484848;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
  
}




span {
  padding: 5px;
}

# lets - connect {
                    text - align: center;
                }

                /* Media queries to handle various device widths */

                @media only screen and(max - width: 1024 px) {#
                    lets - connect {
                        margin - top: 5 % ;
                    }
                }

                @media only screen and(max - width: 900 px) {
                    .biopic {
                        width: 175 px;
                    }
                }

                @media only screen and(max - width: 750 px) {#
                    lets - connect {
                            margin - top: 10 % ;
                        }
                        .biopic {
                            width: 150 px;
                        }
                        .welcome - message {
                            display: none;
                        }
                }

                #
                map {
                    display: block;
                    height: 400 px;
                    margin: 0 5 % ;
                }

                #
                mapDiv {
                    height: 400 px;
                    width: 100 % ;
                    padding - bottom: 5 % ;
                }

                @media only screen and(min - width: 750 px) {#
                    skills - h3,
                        .biopic {
                            display: block;
                        }
                }